* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: 1.6;
}
body{
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 32px;
    padding-right: 32px;
    height: 641px;
}
h4 , p{
    margin-top: 16px;
    margin-bottom: 16px;
}
.dv{
    width: 100%;
    max-width: 950px;
    margin-right:200px;
    margin-left: 50px;

}
.n1 {
background-color: white;
padding-left: 32px;
padding-right: 20px;
padding-bottom: 16px;
padding-top: 16px;
margin-top: 40px;
margin-left: 350px;
width: 600px;
border-top-right-radius: 4px;
border-top-left-radius: 4px;

}
.h4-1{
    color: hsl(179, 62%, 43%);
    font-size: 16px;
}
.p-1 {
    color: hsl(71, 73%, 54%);
    font-size: 16px;
}
.p-2{
    font-size: 14.4px;
    color: hsl(218, 22%, 67%);
}
.dv2{
display:flex; 
flex-direction: row;
margin-top: 0;
}
.n2 {
    background-color: hsl(179, 62%, 43%);
    color: white;
    padding-left: 32px;
padding-right: 32px;
padding-bottom: 30px;
padding-top: 12px;
margin-left: 350px;
width: 600px;
border-bottom-left-radius: 4px;
}
.s1 {
    font-size: 24px;
}
.s2{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.705);
}
.btn {
    background-color: hsl(71, 73%, 54%);
    text-align: center;
    color: white;
    font-weight: 600;
    width: 100%;
    text-decoration: none;
 display: block;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.n3{
    background-color: hsla(179, 62%, 43%, 0.699);
       padding-left: 32px;
padding-right: 32px;
padding-top: 12px;
width: 300px;
width: 600px;
border-bottom-right-radius: 4px;
}
.h4-3{
    color: white;
}
.allp{
 color:rgba(255, 255, 255, 0.705);
    font-size: 14.4px;
    line-height: 0.4;
}